.banner_about{
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    grid-column-gap: 30px;
}
.banner_about_img{
    width: 576px;
    height: 248px;
    background-color: gray;
}
.we_are{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 80px;
}
.we_are_item_1{
    width: 382px;
}
.we_are_item_2{
    width: 333px;
}
.we_are_item_3{
    width: 304px;
}
.we_are_img{
    margin-bottom: 15px;
}
.what_are_doing_grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 32px;
    align-items: end;
    margin-top: 40px;
}
.what_are_doing_grid h3{
    grid-column-start: 1;
    grid-column-end: 3;
}
.what_are_doing_img{
    width: 100%;
    height: 248px;
}
.our_platform_cnt{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    height: 200px;
}
.our_team_cnt{
    display: flex;
    justify-content: space-around;
    margin: 70px 0 200px;
}
.our_team_item_img{
    background: gainsboro;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.our_team_item_title{
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0 20px;
}

/* SLIDER */

.block__about_slider {
    max-width: 1180px;
    margin-left: 40px;
    margin-right: 40px;

    position: relative;
}

.about_slider-before {
    content: "";
    width: 750px;
    height: 600px;
    padding: 0; 
    display: block;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #EFE1F0;
    opacity: 0.2;

    position: absolute;
    z-index: -1;
}

.about_slider {
    margin-left: auto;
    margin-right: auto;
}

.about_slider_item img{
    width: 100%;
}

.about_slider_item {
    width: 300px;
    opacity: 0.4;
}

.about_slider_item.slick-center,.about_slider_item.slick-active{
    height: 500px;
    opacity: 1;
} 
.about_slider_item.slick-active .about_slider_txt{
    display: block;
    width: 600px;
    right: 150px;
    margin: 20px auto 0;
    text-align: center;

    position: relative;
}

.about_slider .slick-list{
    height: 400px;
    overflow: hidden;
} 

.about_slider_txt{
    display: none;
}

.about_slider .slick-arrow{
    width: 31px;
    height: 31px;
    border-top: 2px solid rgba(114, 100, 170, 0.5);
    border-right: 2px solid rgba(114, 100, 170, 0.5);
}

.about_slider .slick-arrow.slick-prev{
    transform: rotate(-135deg);
}

.about_slider .slick-arrow.slick-next{
    transform: rotate(45deg);
}

.about_slider .slick-arrow.slick-prev,
.about_slider .slick-arrow.slick-next{
    top: 37%;
}

/*  */

.our_platform_item img{
    width: 272px;
}

.our_platform_cnt .slick-list{
    height: 272px;
}
.our_platform_item_txt{
    background: #B796BC;
    width: 272px;
    padding: 20px;
    border-radius: 45px;
    height: 272px;
    align-items: center;
    display: grid;
    text-align: center;
}
.our_platform_cnt .slick-track{
    padding: 0;
}
.our_platform_cnt .slick-track{
    padding: 0;
}












@media screen and (max-width: 1200px) {
    .we_are_item_1, .we_are_item_2, .we_are_item_3, .our_platform_item img {
        width: 100%;
    }

    /* SLIDER */
    .about_slider{
        width: 90%;
        margin: 200px auto 10px;
    }
    /* */

    .our_platform_item img{
        width: 100%;
    }
    .our_platform_item{
        width: 200px;
    }
    .banner_about_img{
        width: 300px;
    }
    .what_are_doing_img, .what_are_doing_img img {
        width: 100%;
    }
    .our_platform_item_txt{
        width: 200px;
        height: 200px;
        border-radius: 30px;
        font-size: 13px;
    }
    .our_platform_cnt .slick-list {
        height: 200px;
    }
}
@media screen and (max-width: 720px) {
    .banner_about {
        grid-template-columns: 1fr;
    }
    .banner_about_cnt{
        grid-row-start: 2;
        margin-top: 40px;
    }
    .we_are {
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 30px;
    }
    .what_are_doing_grid h3{
        grid-row-start: 2;
    }
    .what_are_doing_grid{
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-row-gap: 32px;
    }
    .what_are_doing_txt{
        grid-row-start: 3;
    }
    .what_are_doing_img img {
        height: auto;
    }
    .our_team_item, .our_team_item_img{
        margin: 15px auto 0;
    }
    .our_team_cnt{
        display: grid;
    }

    /* SLIDER */
    .block__about_slider {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .about_slider {
        margin-top: 0;
    }
    .about_slider_item{
        opacity: 1;
        margin: 10px;
        font-size: 13px;
    }
    .about_slider_item.slick-active .about_slider_txt{
        width: 300px;
        right: 0;
    }
    .about_slider_txt br{
        display: none;
    }
    .about_slider_item:nth-child(8) .about_slider_txt,.about_slider_item:nth-child(14) .about_slider_txt{
        width: 290px;
    }
    .about_slider_item:nth-child(10) .about_slider_txt{
        width: 280px;
    }
    .about_slider_item:nth-child(13) .about_slider_txt{
        width: 250px;
    }
    .about_slider-before{
        display: none;
    }
    /*  */
}