.wrapper-contacts{
    background-color: #000;
}
.contacts{
    text-align: center;
    font-size: 36px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
    padding-bottom: 100px;
}
.contacts-arrow{
    height: 30px;
    transform: rotate(90deg);
    padding: 20px;
}
.img-instagram{
    height: 50px;
}
.contacts p{
margin: 0;
padding-top: 120px;
}
.contacts a{
text-decoration: none;
}
.mail a{
    color: var(--pink);
}
.whats-app a{
    color: var(--purple);
}
.tg a{
    color: var(--turquoise);
}
.instagram a{
    color: #3AD86F;
}

@media screen and (max-width: 700px) {
    .contacts {
        font-size: 28px;
    }

}