footer {
  background-color: #343639;
  padding: 40px 0;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  color: var(--white);
}

.footer {
  max-width: 1184px;
}

.footer-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-content-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.footer-content-wrapper ul li {
  margin-bottom: 10px;
}

.footer-content-wrapper ul a {
  color: white;
  text-decoration: none;
}

.center-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  line-height: 2;
}

.footer-documents a {
  display: block;
  margin-bottom: 8px;
  color: var(--white);
  text-decoration: none;
}

.footer-information {
  list-style: none;
  padding: 0;
  margin: 0; 
  color: var(--white);
}

.soc_networks {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.soc_networks img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1201px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0 auto;
  }

  .footer-block {
    margin-left: 60px;
  }


  .footer-content-wrapper {
    /* flex-direction: column; */
    align-items: center; 
  }

  .center-footer {
    gap: 20px;
    justify-content: center;
    margin-left: 60px;
  }

  .soc_networks {
    margin-top: 20px;
  }

}

@media screen and (max-width: 600px) {
  .footer-content-wrapper {
    max-width: 80%;
    margin-left: 50px;
    /* justify-content: flex-start; */
  }

  .footer-block {
    margin-left: 0px;
  }

  .center-footer {
    gap: 20px;
    text-align: left;
    margin-left: 0px;
  }

  .footer-documents,
  .footer-information,
  .soc_networks {
    width: 100%;
  }

  .footer-block {
    align-self: flex-start;
  }
  
}
