.form{
    display: grid;
}
.form-content{
    margin: auto;
    width: 310px;
}
.form__item{
    width: 295px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 35px;
    padding-left: 10px;
    outline: 0;
    border: #757575 solid 1px;
    border-radius: 15px;
}
.form-heading{
    margin-top: 70px;
    margin-left: 0;
    text-align: center;
}
.form-heading h2{
margin-left: 0;
font-size: 40px;
}
.forms__massage{
    padding-top: 10px;
    width: 295px;
    height: 110px;
    border: #757575 solid 1px;
    border-radius: 15px;
}
.form-btn{
width: 307px;
margin-bottom: 70px;
background: #473A92;
color: white;
border: 0;
border-radius: 7px;
cursor: pointer;
}
.form-btn:hover {
    background: #131313;
    transition: 0.7s;
    
}
.wpcf7-not-valid-tip{
    position: relative;
    bottom: 25px;
}
.wpcf7 form.sent .wpcf7-response-output {
    border: solid 3px #26c64e;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    bottom: 100px;
    position: relative;
}