.section-black{
    background-color: #000;
    height: 100%;
}
.service-button1 {
    font-size: 17px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--turquoise);
    color: white;
    text-decoration: none;
    outline-style: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.service-button1:hover {
background-color: #26a7d08a;
}
.service-content{
    text-align: center;
    color: white;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 140px;
    
}
.consultation-name{
    font-size: 48px;
    margin: 0;
}
.service-text{
    font-weight: bold;
    color: #868686;
}
.price{
    letter-spacing: 2px;
    line-height: 30px;
    color: #868686;
}
.icon-contacts{
    color: #5F5E5E;
    font-size: 11px;
    letter-spacing: 1px;
}
.icon-contacts:hover{
opacity: .5;
}
.marathon-name{
    color: black;
    font-size: 48px;
    margin: 0;
}
.courses-name{
    font-size: 48px;
    margin: 0;
}
.requests{
    display: flex;
    text-align: center;
    width: 260px;
    margin: auto;
}







.tab input {
    position: absolute;
    opacity: 0;
  }
.tab1{
    width: 270px;
    margin: auto;
}
.tab2{
    width: 500px;
    margin: auto;
}
.tab3{
    color: rgb(0, 0, 0);
    width: 400px;
    margin: auto;
}
.tab4{
    width: 550px;
    margin: auto;
}
  .tab label {
    position: relative;
    display: block;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .tab label:hover {
    color: rgb(141, 134, 137);
    text-decoration: underline;
  }
  .req_img{
    transform: rotate(90deg);
    position: relative;
    top: 3px;
    left: 3px;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
  }
  .tc-1{
      width: 100%;
  }
  .tc3{
      color: black;
      width: 250px;
  }
  .tab-content p {
    margin: 1em;

  }
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
    border: solid 1px;
  }
  .tab input:checked ~ .tc3 {
    border: black solid 1px;
  }
  /* .tab input:checked ~ .req_img {
    transform: rotate(-90deg);
  } */
  .tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  /* .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .tab input[type=checkbox]:checked + .req_img::after {
    transform: rotate(-90deg);
  } */
  .tab-course{
      display: flex;
  }
  .tab-course-item{
    border: solid 1px;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    margin-right: 10px;
  }
  .tc-iem3{
    padding-top: 2px;
    height: 58px;
  }
  @media screen and (max-width: 850px) {
    .tab4{
        width: 300px;
    }
  }
@media screen and (max-width: 700px) {
    .service-content {
        padding: 140px 20px;
    }
    .consultation-name {
        font-size: 32px;
    }
    .marathon-name {
        font-size: 32px;
    }
    .courses-name {
        font-size: 32px;
    }
    .tab-content{
        width: 300px;
    }
    .tab-course{
        display: grid;
        width: 163px;
        margin: auto;
    }
    .tab-course-item{
        margin-top: 10px;
    }
}
@media screen and (max-width: 550px) {
    .tab2 {
        width: 280px;
    }
    .tab3 {
        width: 280px;
    }
}
@media screen and (max-width: 350px) {
    .tab-content {
        width: 280px;
    }

}