.authorization {
  background-color: var(--white);
  width: 100vw;
  height: 85vh;
  /* margin-top: 70px; */
  /* margin-bottom: 30px; */
  align-items: center;
  display: grid;
}
.reg_auth {
  width: 310px;
  margin: auto;
  display: grid;
  gap: 20px;
}
.authorization_title h1 {
  font-size: 20px;
  text-align: center;
}
.authorization_form {
  box-shadow: 0 0 30px rgba(141, 154, 206, 0.2);
  padding: 20px;
  border-radius: 7px;
  display: grid;
  gap: 5px;
}
.pers_item label {
  font-size: 13px;
}
.pers_item input {
  font-size: 14px;
  margin-top: 9px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  border: 0.2px var(--black) solid;
  width: 100%;
  padding: 12px 0 12px 9px;
  outline: none;
}
.pers_item input:focus::-webkit-input-placeholder {
  color: transparent;
}
.pers_item input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */

/* checkbox */
#pers_approval_checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 5px;
  margin-top: 5px;
}
#pers_approval_checkbox + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  border-radius: 3px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 9px;

  cursor: pointer;
}
#pers_approval_checkbox:checked + label::before {
  box-shadow: 0px 1px 5px rgba(141, 154, 206, 0.8);
  background-image: url("../images/checkbox.svg");
}
#pers_approval_checkbox:not(:disabled):not(:checked) + label:hover::before {
  box-shadow: 0px 1px 5px rgba(141, 154, 206, 0.8);
}
.pers_item_txt {
  font-size: 10px;
  color: var(--main_1);
  align-items: center;
  display: flex;
  gap: 8px;
}
.pers_btn button {
  width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.authorization_question{
    display: flex;
    box-shadow: 0 0 30px rgba(141, 154, 206, 0.2);
    padding: 11px 20px;
    border-radius: 7px;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}
.authorization a{
    color: var(--main_1);
    font-size: 11px;
}
.pers_item_pass{
    display: flex;
    justify-content: space-between;
}
.pers_input{
    position: relative;
}
.pass_eye {
	position: absolute;
	top: 24px;
	right: 9px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/Eye.svg) 0 0 no-repeat;
    cursor: pointer;
}
.pass_eye.close_eye {
	background: url(../images/Eye-Off.svg) 0 0 no-repeat;
}

input.error {
  outline: 1px solid red;
  border-color: red;
}
.text-error {
  font-size: 11px;
  color: red;
  opacity: 0;
}


/** Activation */
.activation{
  max-width: 600px;
  background: whitesmoke;
  border-radius: 20px;
  padding: 25px;
  color: #111111;
  display: grid;
  gap: 20px;
  margin: auto;
}
.activation_title{
  font-size: 24px;
}
.activation_txt_info{
  font-size: 13px;
  color: #545454;
}
.activation_msg{
  max-width: 600px;
  margin: auto;
  align-items: center;
  display: grid;
  text-align: center;
  justify-content: center;
  gap: 40px;
}
.activation_msg img{
  padding: 15px;
  border-radius: 50%;
  margin: auto;
}
.activation_msg p{
  font-size: 36px;
  font-weight: bold;
}
.reset_password_form{
  gap: 5px;
}

@media (max-width: 600px) {
  .activation_msg p{
    font-size: 20px;
  }
}