.authorization {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: grid;
}
.reg_auth {
  width: 310px;
  margin: auto;
  display: grid;
  gap: 20px;
}
.authorization_title h1 {
  font-size: 20px;
  text-align: center;
}
.authorization_form {
  box-shadow: 0 0 30px rgba(141, 154, 206, 0.2);
  padding: 20px;
  border-radius: 7px;
  display: grid;
  gap: 13px;
}
.pers_item label {
  font-size: 13px;
}
.pers_item input {
  font-size: 14px;
  margin-top: 9px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  border: 0.2px var(--black) solid;
  width: 100%;
  padding: 12px 0 12px 9px;
  outline: none;
}
.pers_item input:focus::-webkit-input-placeholder {
  color: transparent;
}
.pers_item input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */

/* checkbox */
#pers_approval_checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
#pers_approval_checkbox + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  border-radius: 3px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 70%;

  cursor: pointer;
}
#pers_approval_checkbox:checked + label::before {
  box-shadow: 0px 1px 5px rgba(141, 154, 206, 0.8);
  background-image: url("../images/checkbox.svg");
}
#pers_approval_checkbox:not(:disabled):not(:checked) + label:hover::before {
  box-shadow: 0px 1px 5px rgba(141, 154, 206, 0.8);
}
.pers_item_txt {
  font-size: 10px;
  color: var(--main_1);
  align-items: center;
  display: flex;
  gap: 8px;
}
.pers_btn button {
  width: 100%;
}
.blue_btn {
  background-color: #421dd8;
  padding: 16px 32px;
  border-radius: 15px;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.authorization_question{
    display: flex;
    box-shadow: 0 0 30px rgba(141, 154, 206, 0.2);
    padding: 11px 20px;
    border-radius: 7px;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}
.authorization a{
    color: var(--main_1);
    font-size: 11px;
}
.pers_item_pass{
    display: flex;
    justify-content: space-between;
}
.pers_input{
    position: relative;
}
.pass_eye {
	position: absolute;
	top: 24px;
	right: 9px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/Eye.svg) 0 0 no-repeat;
    cursor: pointer;
}
.pass_eye.close_eye {
	background: url(../images/Eye-Off.svg) 0 0 no-repeat;
}
