.single_main_img img{
    float: left;
    border-radius: 30px;
    width: 340px;
    height: 100%;
    margin-right: 50px;
    margin-bottom: 30px;
}
.single_cnt{
    color: var(--black);
    line-height: 1.4;
    text-align: justify;
}
.single_cnt a{
    color: #343434;
}
.single_cnt img{
    border-radius: 30px;
}
.wrapper_single{
    background: var(--white);
    padding: 80px 0;
}
.wp-playlist-light{
    float: left;
    width: 100%;
    background: none;
    border: none;
}
.wp-playlist-current-item,.wp-playlist-item{
    display: none;
}
.mejs-container-keyboard-inactive{
    width: 800px;
    margin: auto;
}
.wp-playlist{
    max-width: 800px;
}




.arrow-2 {
    cursor: pointer;
    height: 40px;
    width: 20px;
    position: relative;
    margin: 20px 0;
    transform: rotate(180deg);
    display: block;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: #acacac;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 20px;
    width: 20px;
    border-radius: 20px;
}

.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.single{
    padding: 32px;
}


@media screen and (max-width: 700px) {
    .single_main_img img{
        float: none;
        margin: 0;
        width: 100%;
        position: relative;
        max-width: 500px;
    }
    .arrow-2{
        z-index: 2;
        margin-left: 20px;
    }
    .single_main_img{
        text-align: center;
    }
    .single{
        padding: 0px;
    }
    .single_cnt{
        padding: 32px;
    }
    .wrapper_single{
        padding: 70px 0;
    }
}
@media screen and (max-width: 500px) {
    .single_main_img img{
        top: -150px;
    }
    .single_cnt{
        position: relative;
        top: -150px;
    }
    .single_cnt h1{
        font-size: 24px;
    }
}