.single_main_img img{
    float: left;
    border-radius: 30px;
    width: 340px;
    height: 100%;
    margin-right: 50px;
    margin-bottom: 30px;
}
.single_cnt{
    color: var(--black);
    font-size: 15px;
    /* text-align: justify; */
}
.single_title, .single h2{
    font-size: 39px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.single h3 span{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;

}
.single_cnt h3{
    margin: 32px 0 16px;
    line-height: normal;


}
.single_cnt p{
    margin-bottom: 10px;
}
.single_cnt a{
    color: #343434;
}
.single_cnt img{
    border-radius: 30px;
}
.wrapper_single{
    background: var(--white);
}
.wp-playlist-light{
    float: left;
    width: 100%;
    background: none;
    border: none;
}
.wp-playlist-current-item,.wp-playlist-item{
    display: none;
}
.mejs-container-keyboard-inactive{
    width: 800px;
    margin: auto;
}
.wp-playlist{
    max-width: 800px;
}




.arrow-2 {
    cursor: pointer;
    height: 40px;
    width: 20px;
    position: relative;
    margin: 20px 0;
    transform: rotate(180deg);
    display: block;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: #acacac;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 20px;
    width: 20px;
    border-radius: 20px;
}

.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.single{
    padding: 32px;
}
.single_button-reaction {
    width: 880px;
    margin: 30px auto; 
    display: flex;
}
#like,
#dislike {
    width: 41px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    background-color: #EBE6FF;

    cursor: pointer;
}
#like {
    margin-right: 2px;
    border-radius: 15px 0 0 15px;
}
#like svg path,
#dislike svg path {
    stroke: black;
}
#like.select,
#dislike.select {
    background-color: var(--blue);
}
#like.select svg path,
#dislike.select svg path {
    stroke: #EBE6FF;
}
#dislike {
    border-radius: 0 15px 15px 0;
}
@media screen and (max-width: 900px) {
    .single_button-reaction{
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .single_main_img img{
        float: none;
        margin: 0;
        width: 100%;
        position: relative;
        max-width: 500px;
    }
    .arrow-2{
        z-index: 2;
        margin-left: 20px;
    }
    .single_main_img{
        text-align: center;
    }
    .single{
        padding: 0px;
    }
    .single_cnt{
        padding: 32px;
    }
    /* .wrapper_single{
        padding: 70px 0;
    } */
}
@media screen and (max-width: 500px) {
    .wrapper_single{
        margin-top: 20px;
    }
    .btn_back{
        position: absolute;
    }
    .single_cnt{
        position: relative;
    }
    .single_title, .single h2{
        font-size: 25px;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
    }
    .single h3 span{
        font-size: 20px;

    }
    .single_cnt h3{
        margin-top: 20px;
    }

}